{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <!-- Bootstrap Table -->
    <table class="table table-striped table-bordered">

        <!-- Table Head -->
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
            {% for share in shares %}
            <tr>
                <td>{{ share["symbol"] }}</td>
                <td>{{ share["shares"] }}</td>
                <td>{{ price[share["symbol"]] | usd}}</td>
                <td>{{ total_price[share["symbol"]] | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>        

        <!-- Table Footer -->
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Cash</th>
                <td>{{ cash | usd}}</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>TOTAL</th>
                <td>{{ grand_total | usd}}</td>
            </tr>
        </tfoot>

    </table>

{% endblock %}
