{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Symbol</th>
                    <th>Quote (Price)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #007bff;">{{ symbol }}</td>
                    <td style="color: #007bff;">{{ quote | usd}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}