{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" id="symb">

                <option value="" selected disabled>Select Symbol</option>

                {% for item in symbols %}
                
                    <option value="{{ item.symbol }}">{{ item.symbol }}</option>

                {% endfor %}

            </select>

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
